body {
    font-family: sans-serif;
    text-shadow: white;
    font-size: x-large;
    background-color: transparent;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.InputBox {
    background-color: rgb(45, 3, 92);
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgb(2, 12, 102);
    margin: auto auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    top: 0;
	left: 0;
	width: 100px;
	height: 10%;
	background: rgb(148, 0, 141);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgb(1, 6, 54);
}

nav {
    background-color: rgb(73, 2, 153);
   
}